.drag-container {
    text-align: center;
}

.group-header {
    font-size: 18px;
    background-color: lightgray;
    width: 100%;
}

.window-grid {
    position: absolute;
    right: 0;
}

.window-item {
    padding: 5px;
}

.file-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
}

.draggable {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    text-align: center;
}

.personal {
    position: absolute;
    width: 48%;
    left: 1%;
    top: 100px;
    border: 2px solid black;
}

.droppable {
    position: absolute;
    width: 48%;
    right: 1%;
    top: 100px;
    border: 2px solid black;
}