* {
    box-sizing: border-box;
    outline: none;
}

.level4-grid {
    position: relative;
    padding: 10px;
}

.level4-content {
    float: left;
    width: 16.66%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.favcard {
    height: 260px;
    width: 215px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: -1px 1px 1px lightgray, -2px 2px 2px lightgray;
}

.picture {
    width: 200px;
    height: 200px;
    padding: 10px;
}

@media only screen and (max-width: 1200px) {
    [class="favcard"] {
        height: 150px;
        width: 105px;
    }
    [class="picture"] {
        width: 90px;
        height: 90px;
    }
}
