.certificate {
    border: double black;
    position: absolute;
    top: 10%;
    left: 1%;
    height: 65%;
    width: 98%;
    text-align: center;
}

.cert-logo {
    padding-top: 5px;
    height: 125px;
    width: 125px;
}

.share {
    position: absolute;
    bottom: 15%;
    left: 42.5%;
}

@media only screen and (max-width: 875px) {
    [class="certificate"] {
        height: 70%;
    }
    [class="share"] {
        bottom: 10%;
        left: 35%;
    }
}

